{% extends "base.html" %}
{% block body %}
    <h1> Followers </h1>
    {% for user in followers %}
        <div>
            <img src="/uploads/{{user['pic']}}" alt="pic" height="20" width="20">
            <a href="/users/{{user['username1']}}/">{{user["username1"]}}</a>
            {% if logname!=user["username1"] %}
                {% if not user["reln"] %}
                    <div class="box">
                        <form action="/following/?target=/users/{{user_slug}}/followers/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{user['username1']}}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    </div>
                    Not following
                {% else %}
                    <div class="box">
                        <form action="/following/?target=/users/{{user_slug}}/followers/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{user['username1']}}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    </div>
                    Following
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}