<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>insta485</title>
    </head>

    <body>
        <h1>        
            <span class="left"><a href="/"><img src="/static/images/logo.png" width="20" height="20" alt="no"></a></span>
        </h1>
        
        <h2>Login</h2>
        <div class="box">
            <form name='login_form' action="/accounts/?target=/" method="post" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Username" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <input type="submit" value="Login"/>
                <input type="hidden" name="operation" value="login"/>
            </form>
        </div>
        <div><a href="/accounts/create/"> sign up</a></div>

    

    
</html>