{% extends "base.html" %}
{% block body %}
<div>
    <!-- DO NOT CHANGE THIS -->
    <form action="/accounts/?target=/accounts/edit" method="post" enctype="multipart/form-data">
        password<input type="password" name="password" required/> <br> 
        new password<input type="password" name="new_password1" required/> <br> 
        new password again<input type="password" name="new_password2" required/> <br> 
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href="/accounts/edit/"> Back to edit account</a>
</div>
  {% endblock %}