<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>insta485</title>
    </head>

    <body>
        <h1>        
            <span class="left"><a href="/"><img src="/static/images/logo.png" width="20" height="20" alt="no"></a></span>
        
            <span class="right">
                <a href="/explore/">explore | </a>
                <a href="/users/{{logname}}/">{{logname}}</a>
            </span>               
            <br>
        </h1>

        {% block body %}
        {% endblock %}
    </body>
</html>